

<div class="hero">
    <div class="lead">
        <h1>Project Bank</h1>
        <h2>A collaborative finance product for projects</h2>
    </div>
    <div class="hero-item hero-left">
        <a href="https://github.com/philku/phil-syf-uconn-hackathon">
            <button class="btn btn-lg btn-secondary">Code</button>
        </a>
    </div>
    <div class="hero-item hero-right">
        <a href="/s/slide/1.html">
            <button class="btn btn-lg btn-primary">Presentation</button>
        </a>
    </div>
</div>
