
<div class="loginBox">
    <div class="container">
        <div class="col-lg-6 col-xl-4 ml-auto mr-auto">
            <form method="post" action="/login">
                <h3>Login to Project Bank</h3>
                <br>

                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email" required>
                </div>

                <div class="form-group">
                    <label for="userPass">Password</label>
                    <input type="password" class="form-control" name="userPass" id="userPass" placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        </div>
    </div>
</div>