
.nav{
  width: 100%;
  background-color: grey;
}

.hero{
  width: 100%;
}
.hero-left{
  float: left;
  width: 50%;
  text-align: center;
}
.hero-right{
  float: right;
  width: 50%;
  text-align: center;
}
